@import url('reset.css');

.container {
    max-width: 70vw;
    margin: 0 auto;
    position: relative;
}

.slider__body {
    background: url('../img/bg.jpg') center center/cover no-repeat;
}

.slider__slide img{
    width: 20vw;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}

.birthday {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}


.carousel-prev img,
.carousel-next img {
    width: 100%;
}

.carousel-prev img {
    transform: rotate(-0.5turn)
}

.carousel-next,
.carousel-prev {
    position: absolute;
    right: 0;
    top: 0;
    width: 10vw;
    height: 100%;
    background: #ffffff;
    border: none;
    cursor: pointer;
    transform: translateX(100%);
}


.carousel-prev {
    left: 0;
    right: unset;
    transform: translateX(-100%);
}